.card {
    width: 290px;
    height: 400px;
    background: white;
    margin: 109px 0 0 0;
}

.card-img {
    width: 85%;
    height: 70%;
    margin: -46px auto;
    border: 2px solid #2196f3 !important;
}

.card-img1 {
    background-image: url("../images/food-1.jpg");
    background-size: cover;
    
}

.card-img2 {
    background-image: url("../images/food-2.jpg");
    background-size: cover;
}

.card-img3 {
    background-image: url("../images/food-3.jpg");
    background-size: cover;
}

.post-text {
    margin: 67px 11px 0 11px;
}

.post-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-links img {
    width: 19px;
}